    .onoffswitch {
        position: relative; width: 78px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 14px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #369932; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #DE1818; color: #F5E7E7;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 20px; margin: 4px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 46px;
        border: 2px solid #999999; border-radius: 14px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }
    
  body {
    background-color:#916C47;
    background-image: url("../images/Kitch2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    	background-size: 70% ;
    
    
} 


#s1 {
    
    position: absolute;
    left: 75%;
    top: 3%;
 }


 
 #s2 {
    
    position: absolute;
    left: 60%;
    top: 35%;
 }
 
 
 #s3 {
    
    position: absolute;
    left: 60%;
    top: 55%;
 }
 
 #s4 {
    
    position: absolute;
    left: 22%;
    top: 3%;
 }